<!DOCTYPE HTML>
<html>
	<head>
		<title>Jomar Project</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />
		<noscript><link rel="stylesheet" href="./assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt" >
						<a href="index.html" class="logo"><strong> The Jomar</strong> <span>Project</span></a>
						<nav>
							<a href="#menu">Menu</a>
							
						</nav>
					</header>

		
						<!-- Menu -->
						<nav id="menu">
							<ul class="links">
								<li><a href="index.html">Home</a></li>
								<li><a href="contacts.html">Contact</a></li>
							</ul>
						</nav>
				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>Hello there! my name is Jomar</h1>
							</header>
							<div class="content">
								<p>Here is a compilation of the projects I made on 2022.</p>
 
								<ul class="actions">
									<li><a href="#one" class="button next scrolly">Get Started</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="images/pic01.png" alt="" />
									</span>
									<header class="major">
										<h3><a href="https://github.com/Jomar77/textSummarization/tree/2fe873699e956fdac53c2a0582d6efd7045271f7" class="link">Text Summarizer</a></h3>
										<p>A program that summarizes the paragraph that you want!</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic02.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="https://github.com/Jomar77/aBot/blob/5a3f0ca13a5511752ee34382c100e5fcc6d608a8/main.py" class="link">Assistant Bot</a></h3>
										<p>A Jarvis from Iron man copycat!</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic03.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="https://drive.google.com/drive/folders/11MXrgpa_t5dT3I8lcjdTPmhEhk-cElbW" class="link">Graduation Song</a></h3>
										<p>The song used in our graduation. (I helped in making this!)</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic04.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="https://github.com/Jomar77/Text-to-Speech/tree/f9049918f520b1de2342d9f2c21dc39977d5383e" class="link">Text to Speech</a></h3>
										<p>Tried making my own Text-to-Speech Program</p>
									</header>
								</article>
							</section>

						<!-- Two -->
							<section id="two">
								<div class="inner">
									<header class="major">
										<h2>About me</h2>
									</header>
									<p>I have been self-learning SQL and Data visualisation using Tableau and PowerBI. Definitely a green energy enthusiast.
									</p>
								</div>
							</section>

					</div>

				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="#">jom.nacorda@gmail.com</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>Phone</h3>
										<span>09286264298</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>Address</h3>
										<span>New Zealand</span>
								</section>
							</section>
						</div>
					</section>

					<section>
						{% for users in data %}
						{{users[0]}}	
						{{users[1]}}	
						{{users[2]}}	
						{{users[3]}}	
					</br>
							{% endfor %}
						</section>

					<br>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://twitter.com/JomarNacorda/" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.facebook.com/jom.nacorda" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://github.com/Jomar77" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.linkedin.com/in/jomnacorda/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/browser.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/util.js') }}"></script>
			<script src="{{ url_for('static',filename='js/main.js') }}"></script>
			<script src="{{ url_for('static',filename='js/j.js') }}"></script>

	</body>
</html>